%h1 Listing teams




%table
  %thead
    %tr
      %th Teamname
      %th Date
      %th Schedulemin
      %th Schedulemax
      %th Sport
      %th People
      %th
      %th
      %th

  %tbody
    - @teams.each do |team|
      %tr
        %td= team.teamname
        %td= team.date
        %td= team.schedulemin
        %td= team.schedulemax
        %td= team.sport
        %td= team.people
        %td= link_to 'Show', team
        %td= link_to 'Edit', edit_team_path(team)
        -# %td= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Team', new_team_path
