= form_for @sport do |f|
  .pt-3
  - if @sport.errors.any?
    #error_explanation.alert.alert-danger
      %h2= t 'sports.errors', count: @sport.errors.count
      %ul
        - @sport.errors.full_messages.each do |message|
          %li= message

  .field.form-group
    = f.label :code
    = f.number_field :code, class: "form-control"
  .field.form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
  %br
  .actions
    = f.submit t('common.save'), class: "button btn btn-light special medium"
