.container2
  %h1= t('.title')

  %table.table.table-bordered
    %thead.thead-dark
      %tr
        %th= t('.code')
        %th= t('.name')
        %th
        %th
        %th
    %br
    %tbody
      - @sports.each do |sport|
        %tr
          %td= sport.code
          %td= sport.name
          %td.text-center= link_to t('common.show'), sport, class: "button btn btn-light small"
          %td.text-center= link_to t('common.edit'), edit_sport_path(sport), class: "button btn btn-light small"
          %td.text-center= link_to t('common.delete'), sport, method: :delete, data: { confirm: t('common.delete_confirmation') }, class: "button btn btn-light small"

  %br

  %a.button.btn.btn-light.special.big{:href => new_sport_path}= t('sports.new_sport')

  %br 
  %br

  - if notice
    %p.alert.alert-success#notice= notice
