.container2
  %h1 Listing sports

  %table.table.table-bordered
    %thead.thead-dark
      %tr
        %th Code
        %th Name
        %th
        %th
        %th
    %br
    %tbody
      - @sports.each do |sport|
        %tr
          %td= sport.code
          %td= sport.name
          %td.text-center= link_to 'Show', sport, class: "button btn btn-light small"
          %td.text-center= link_to 'Edit', edit_sport_path(sport), class: "button btn btn-light small"
          %td.text-center= link_to 'Apagar', sport, method: :delete, data: { confirm: 'Você tem certeza? A operação não poderá ser desfeita.' }, class: "button btn btn-light small"

  %br

  %a.button.btn.btn-light.special.big{:href => new_sport_path} New Sport

  %br 
  %br

  - if notice
    %p.alert.alert-success#notice= notice
