= form_for @booking do |f|
  - if @booking.errors.any?
    #error_explanation
      %h2= "#{pluralize(@booking.errors.count, "error")} prohibited this booking from being saved:"
      %ul
        - @booking.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :date
    = f.date_select :date
  .field
    = f.label :status
    = f.text_field :status
  .field
    = f.label :sport
    = f.text_field :sport
  .field
    = f.label :facility
    = f.text_field :facility
  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :timeslot
    = f.text_field :timeslot
  .actions
    = f.submit 'Save'
