=javascript_pack_tag 'bookings'
%h1 Nova Reserva
= form_for @booking do |f|
  - if @booking.errors.any?
    #error_explanation
      %h2= "#{pluralize(@booking.errors.count, "error")} prohibited this booking from being saved:"
      %ul
        - @booking.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :date
    = f.date_select :date, :start_year => 2020, :order => [:day, :month, :year]
  .field
    = f.label :sport
    = f.collection_select :sport_id, Sport.order(:name), :id, :name, include_blank: true
  .field
    = f.label :facility
    = f.grouped_collection_select :facility_id, Sport.order(:name), :facilities, :name, :id, :name, include_blank: true
  .field
    = f.hidden_field :status, value: "Booked"

  %br
  
  %button.generate{type: 'button'} Generate Availability
  
  %br
  %br
  
  .field
    %table#availabilities{:border => 1}
      
  %br
  .actions
    = f.submit 'Save'


= link_to 'Back', bookings_path
