.container-booking
  .wrap-login100
    %span.login100-form-title.mt-3
      Informações da Reserva
    %p.pt-4
      %b Date:
      = @booking.date
    %p
      %b Status:
      = @booking.status
    %p
      %b Sport:
      = @booking.sport.name
    %p
      %b Facility:
      = @booking.facility.name
    %p
      %b Start Time:
      = @booking.timeslot.start_time.strftime("%H:%M")
    %p
      %b End Time:
      = @booking.timeslot.end_time.strftime("%H:%M")
      
    - if notice
      %p.alert.alert-success#notice= notice

    %a{:href => bookings_path} 
      %i.fas.fa-arrow-alt-circle-left
      Minhas Reservas

      

