%p#notice= notice

%p
  %b Date:
  = @booking.date
%p
  %b Status:
  = @booking.status
%p
  %b Sport:
  = @booking.sport.name
%p
  %b Facility:
  = @booking.facility.name
%p
  %b Start Time:
  = @booking.timeslot.start_time.strftime("%I:%M")
%p
  %b End Time:
  = @booking.timeslot.end_time.strftime("%I:%M")

= link_to 'Edit', edit_booking_path(@booking)
\|
= link_to 'Back', bookings_path
