.container-booking
  .wrap-login100
    %span.login100-form-title.mt-3
      = t('.info_reservation')
    %p.pt-4
      %b= t('.date')
      = @booking.date.strftime("%d/%m/%y")
    %p
      %b= t('.status')
      = @booking.status
    %p
      %b= t('.sport')
      = @booking.sport.name
    %p
      %b= t('.facility')
      = @booking.facility.name
    %p
      %b= t('.start_time')
      = @booking.timeslot.start_time.strftime("%H:%M")
    %p
      %b= t('.end_time')
      = @booking.timeslot.end_time.strftime("%H:%M")
      
    - if notice
      %p.alert.alert-success#notice= notice

    %a{:href => bookings_path} 
      %i.fas.fa-arrow-alt-circle-left
      = t('bookings.reservations') 

      

