.container2
  %h1 Facilities

  %table.table.table-bordered
    %thead.thead-dark
      %tr
        %th Name
        %th Mode (Outdoor or Indoor)
        %th Sport
        %th
        %th
        %th
    %br
    %tbody
      - @facilities.each do |facility|
        %tr
          %td= facility.name
          %td= facility.mode
          %td= facility.sport.name
          %td.text-center= link_to 'Show', facility, class: "button btn btn-light small"
          %td.text-center= link_to 'Edit', edit_facility_path(facility), class: "button btn btn-light small"
          %td.text-center= link_to 'Apagar', facility, method: :delete, data: { confirm: 'Você tem certeza? A operação não poderá ser desfeita.' }, class: "button btn btn-light small"

  %br

  %a.button.btn.btn-light.special.big{:href => new_facility_path} New Facility

  %br 
  %br

  - if notice
    %p.alert.alert-success#notice= notice

