.container2
  - if notice
    %p.alert.alert-success#notice= notice

  %h1= t('.title')

  %p.pt-3
    %b= t('.name')
    = @facility.name
  %p
    %b= t('.mode')
    = @facility.mode
  %p
    %b= t('.sport')
    = @facility.sport.name

  %a.button.small{:href => edit_facility_path(@facility)}= t('common.edit')

  %br

  .pt-4
    %a{:href => facilities_path} 
      %i.fas.fa-arrow-alt-circle-left
      = t('common.back')
