%p#notice= notice

%p
  %b Code:
  = @facility.code
%p
  %b Name:
  = @facility.name
%p
  %b Type:
  = @facility.type

= link_to 'Edit', edit_facility_path(@facility)
\|
= link_to 'Back', facilities_path
