%section#one.wrapper.style1.special
  .container
    %header.major
      %h2.pb-2= t('.manage_reservations')  
      %p.pt-2= t('.subtitle_7') 
    .row{:class => "150%"}
      .6u{:class => "12u$(xsmall)"}
        %ul.actions
          %li
            %a.button.special.big{:href => new_booking_path}= t('.book_facility')  
      %div{:class => "6u$ 12u$(xsmall)"}
        %ul.actions
          %li
            %a.button.big{:href => bookings_path}= t('.my_reservations') 
%footer#footer
  .container
    %ul.icons
      %li
        %a.icon{:href => "#"}
          %i.fab.fa-facebook
      %li
        %a.icon{:href => "https://www.linkedin.com/in/guilhermeishida/"}
          %i.fab.fa-linkedin
      %li
        %a.icon{:href => "https://github.com/guiishida/SportsHub"}
          %i.fab.fa-github
    %ul.copyright
      %li= t('powered_by')

