.container2
  %h1 Timeslots

  %table.table.table-bordered
    %thead.thead-dark
      %tr
        %th Code
        %th Weekday
        %th Start time
        %th End time
        %th
        %th
        %th
    %br
    %tbody
      - @timeslots.each do |timeslot|
        %tr
          %td= timeslot.code
          %td= timeslot.weekday
          %td= timeslot.start_time.strftime("%I:%M")
          %td= timeslot.end_time.strftime("%I:%M")
          %td.text-center= link_to 'Show', timeslot, class: "button btn btn-light small"
          %td.text-center= link_to 'Edit', edit_timeslot_path(timeslot), class: "button btn btn-light small"
          %td.text-center= link_to 'Apagar', timeslot, method: :delete, data: { confirm: 'Você tem certeza? A operação não poderá ser desfeita.' }, class: "button btn btn-light small"

  %br

  %a.button.btn.btn-light.special.big{:href => new_timeslot_path} New Timeslot

  %br 
  %br

  - if notice
    %p.alert.alert-success#notice= notice
