.container2
  - if notice
    %p.alert.alert-success#notice= notice

  %h1 Timeslot

  %p.pt-3
    %b Code:
    = @timeslot.code
  %p
    %b Weekday:
    = @timeslot.weekday
  %p
    %b Start time:
    = @timeslot.start_time.strftime("%I:%M")
  %p
    %b End time:
    = @timeslot.end_time.strftime("%I:%M")

  %a.button.small{:href => edit_timeslot_path(@timeslot)} Editar

  %br

  .pt-4
    %a{:href => timeslots_path} 
      %i.fas.fa-arrow-alt-circle-left
      Voltar
